@import './css/reset.css';
@import './css/vars.css';

html {
  font-size: 62.5%;
  font-family: 'Monserat';
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.3rem;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

@font-face {
  font-family: 'Gobold';
  src:
    url('assets/fonts/gobold/GoboldHollowBold.woff2') format('woff2'),
    url('assets/fonts/gobold/GoboldHollowBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fritz';
  src:
    url('assets/fonts/fritz/FRITZreg500.woff2') format('woff2'),
    url('assets/fonts/fritz/FRITZreg500.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserat';
  src:
    url('assets/fonts/monserat/regular/Montserrat-Regular.woff2')
    format('woff2'),
    url('assets/fonts/monserat/regular/Montserrat-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserat Bold';
  src:
    url('assets/fonts/monserat/bold/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/monserat/bold/Montserrat-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--white);
  text-decoration: none;
}

footer {
  background-color: var(--rose);
  width: 100%;
  height: .3rem;

  /* lijn altijd onderaan */
  position: fixed;
  bottom: 0;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 6.8rem;
  margin-top: 4.3rem;
}

h1,
.site-header__titelAfkort {
  font-size: 2.6rem;
  font-family: 'Gobold';
}

h2 {
  font-family: 'Gobold';
  font-size: 5rem;

  background: linear-gradient(var(--white) 57%, var(--rose) 43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

h3 {
  font-family: 'Monserat Bold';
  text-transform: uppercase;
  color: var(--rose);
}

span {
  font-family: 'Gobold';
  font-size: 1.6rem;
}

.link {
  color: var(--rose);
  text-decoration: underline;
}

.site-header_menubalk {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.site-header__menu {
  display: flex;
  flex-direction: row;
}

.site-header__items {
  margin-left: 6.5rem;
  font-size: 1.6rem;
  font-family: 'Fritz';
}

.site-header__items:hover {
  font-size: 1.8rem;
  margin-left: 6.3rem;
}

.site-header__titelAfkort {
  display: none;
}

.title_page1 {
  position: absolute;
  margin-top: 6.6rem;
}

.title_page1_img {
  z-index: -1;
}

.heardbeat {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.copyrightEva {
  display: none;
}

/* about */

.about {
  line-height: 2.5rem;
}

.info {
  width: 71.3rem;
}

.info_3words {
  margin-bottom: 4.9rem;
}

.info_mini {
  margin-bottom: 3.7rem;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71.3rem;

  margin-top: 7.4rem;
}

.skillset {
  width: 12rem;
  margin-top: 1.7rem;
}

.socialMedia {
  margin-top: 10rem;
}
