@import './css/reset.css';
@import './css/vars.css';

html {
  font-size: 62.5%;
  font-family: 'Monserat';
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.3rem;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

@font-face {
  font-family: 'Gobold';
  src:
    url('assets/fonts/gobold/GoboldHollowBold.woff2') format('woff2'),
    url('assets/fonts/gobold/GoboldHollowBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fritz';
  src:
    url('assets/fonts/fritz/FRITZreg500.woff2') format('woff2'),
    url('assets/fonts/fritz/FRITZreg500.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserat';
  src:
    url('assets/fonts/monserat/regular/Montserrat-Regular.woff2')
    format('woff2'),
    url('assets/fonts/monserat/regular/Montserrat-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserat Bold';
  src:
    url('assets/fonts/monserat/bold/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/monserat/bold/Montserrat-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--white);
  text-decoration: none;
}

footer {
  background-color: var(--rose);
  width: 100%;
  height: .3rem;

  /* lijn altijd onderaan */
  position: fixed;
  bottom: 0;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 6.8rem;
  margin-top: 4.3rem;
}

h1,
.site-header__titelAfkort {
  font-size: 2rem;
  font-family: 'Gobold';
}

h2 {
  font-family: 'Gobold';
  font-size: 3.6rem;

  background: linear-gradient(var(--white) 57%, var(--rose) 43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

h3 {
  font-family: 'Monserat Bold';
  text-transform: uppercase;
  color: var(--rose);
}

span {
  font-family: 'Gobold';
  font-size: 1.6rem;
}

.link {
  color: var(--rose);
  text-decoration: underline;
}

.site-header_menubalk {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.site-header__menu {
  display: flex;
  flex-direction: row;
}

.site-header__items,
.site-header__items-actief {
  margin-left: 6.5rem;
  font-size: 1.6rem;
  font-family: 'Fritz';
}

.site-header__items-actief,
.site-header__items:hover {
  text-decoration: line-through;
}

.site-header__titelAfkort {
  display: none;
}

.title_page1 {
  position: absolute;
  margin-top: 7.4rem;
}

.title_page1_img {
  z-index: -1;
}

.heardbeat {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.copyrightEva,
.footer-none {
  display: none;
}

/* about */

.about {
  margin-left: 7rem;
  position: absolute;
  margin-top: -2rem;
}

.title_page2 {
  position: absolute;
  margin-left: 7rem;
  margin-top: 6.6rem;
}

.me {
  background-image: url('assets/img/me.png');
  background-repeat: no-repeat;
  width: 46rem;
  height: 61.2rem;
  margin-top: 6.6rem;

  border: 1px solid;
  border-image-source: linear-gradient(var(--rose), transparent);
  border-image-slice: 1;
}

.me:hover {
  background-image: url('assets/img/meFull.png');
}

.title_page2_img {
  z-index: -1;
}

.heardbeat2.0 {
  display: flex;
  flex-direction: column;
}

.boven {
  display: flex;
  flex-direction: row-reverse;
}

.info {
  width: 71.3rem;
  line-height: 2.5rem;
}

.info_3words {
  margin-bottom: 4.9rem;
}

.info_mini {
  margin-bottom: 3.7rem;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71.3rem;

  margin-top: 4rem;
}

.skillset {
  width: 17rem;
  margin-top: 1.7rem;
  line-height: 2rem;
}

.socialMedia {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.socialMedia_item {
  padding: 1rem;
}

/* detail */

.footerDetail {
  height: 5rem;
  width: 100%;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  /* lijn altijd onderaan */
  position: fixed;
  bottom: 0;
}

.footerDetail__text {
  font-family: 'Fritz';
  color: var(--black);
}
